@import '../../../assets/scss/base/mixins';
@import '../../../assets/scss/base/variables';
.sidebar {
  @media only #{$desktop-max-md} {
    width: 80px;
  }
    width: 110px;
    height: 100vh;
    background-color: rgba(6, 67, 180, 0.952);
    padding: 20px;
position: fixed;
margin-left: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: .8rem;
position: relative;
.company-name{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;position:absolute;
     top: 2rem;

}

  .lists{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    .list-items{
      list-style-type: none;
      width: 3rem;
    height: 3rem;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
      a{
      i{
        font-size: 1.8rem;
        color: white;
      }
    }
    &.active{
      background-color: rgba(248, 243, 243, 0.589);
    }
    &:hover{
background-color: black;
    }
    }

    .text-style{
font-size: .7rem;
text-align: center;
color: rgba(255, 255, 255, 0.795);
    }
    
  }
  .fa-regular{
    position: absolute;
    bottom: 2.5rem;
    background-color: rgba(248, 248, 255, 0.911);
    padding: .6rem;
    border-radius: 50%;
    font-size: 1.2rem;
  }
  }
