<div class="sidebar">
  <h1 class="company-name">HMA</h1>
  <ul class="lists">
    <li class="list-items">
      <a href="javascript:void(0)"><i
        class="fas fa-grip-horizontal"></i></a>
    </li>
   <span class="text-style">Dashboard</span>
  </ul>
  <ul class="lists">
    <li class="list-items" routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['clients']"><i class="fas fa-user-tie"></i></a>
    </li>
    <span class="text-style">Clients</span>
  </ul>
  <ul class="lists">
    <li class="list-items" routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['documents']"><i class="fa-solid fa-file-lines"></i></a>
    </li>
    <span class="text-style">Documents</span>
  </ul>
  <ul class="lists">
    <li class="list-items" routerLinkActive="active">
      <a href="javascript:void(0)"><i
        class="fa-solid fa-list-check"></i></a>
    </li>
    <span class="text-style">Tasks</span>
  </ul>
  <ul class="lists">
    <li class="list-items">
      <a href="javascript:void(0)" >
        <i class="fa-solid fa-credit-card" style="font-size: 1.5rem;"></i></a>
    </li>
   <span class="text-style">Payments</span>
  </ul>
  <i class="fa-regular fa-user"></i>

</div>