.simple-table {
    border-collapse: collapse;
    width: 100%;
  
    td {
      border: 1px solid #ccc;
      padding: 4px;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #ddd;
    }
  }
 