// basic colors

$white: #fff;
$black: #000000;

$gray: #333;
$gray-1: #07073C;
$gray-2: #001F2D;
$gray-3: #2F3032;
$gray-4: #373737;
$gray-5: #9E9E9E;
$gray-6: #848484;
$gray-7: #8C8C90;
$gray-8: #8C8C90;
$gray-9: #5d5a6880;
$gray-10: #5f6368;
$gray-11: #8698A36E;
$gray-12: #FDFDFD;
$gray-13: #e6e6e6;
$gray-14: #111111;
$gray-15: #eeeeee;
$gray-16: #0000001f;
$gray-17: #5E5E5E;
$gray-18: #707070;
$gray-19: #9a9a9a;
$gray-20: #000000bf;
$gray-21: #00000045;
$gray-22: #DDDDDD;
$gray-23: #222222;
$gray-24: #D5D1D1;
$gray-25: #0000001a;
$gray-25: #EBECEB;


$color-1: #0E3C51;
$color-2: #022A3C;
$color-3: #50575a;

$white-1: #F8F9FB;
$white-2: #D6DCE9;
$white-3: #F2F8FC;
$white-4: #F6F6F6;
$white-5: #E1E1E1;
$white-6: #BFBFBF;
$white-7: #E7EAF4;
$white-8:#F7F9FB;

$green-1: #34B06D;
$green-2: #3A9860;
$greenlite: #EAF7F0;

$red: #EA4444;
$red2: #FF4141;
$red3: #FF2E2E;

$blue1: #2983C0;
$blue2: #ddebf5;
$blue3: rgb(7, 46, 99);
$blue4: #2c6c99;
$blue5: #32325d40;


$color-primary: #2A85C3;
$color-primary-hover: #1a6da5;
$color-primary-lite: #D5E7F3;
$color-primary-lite2: #E5F0F8;
$color-primary2: #EC0041;
$color-pink-lite: rgba(240, 109, 155, 0.3);
$color-pink-hover: #F06D9B;
$color-pink: #E57BC8;
$color-bluedark: #285376;
$color-blue-extra-dark: #131721;
$color-gray: #F8F8F8;
$color-graylite: #f1f3f9;
$color-graybg: #E1E2E9;
$color-graybg2: #747A9F;
$color-graybg3: #F4F4F6;
$color-graybg4: #E7E7EA;
$color-graybg5: #E9E9E9;
$color-graybg6: #A0A5B91A;
$color-green: #33BE6B;
$color-green2: #22C89B;
$color-green-hover: #229550;
$color-pagination: #545D7A;
$color-input-border: #E2E3EA;
$color-placeholder: #7D82A5;
$color-card-border: #E0E0E0;
$color-bg-blue-lite: #F7F8FE;
$table-cell-color: #12152D;
$color-primary-lite: #EAF3F9;
$color-bg-lite: #F4F9FC;
$color-text-dark: #101456;
$color-census: #D9E7F3;
$color-close:#9FA5B9;
$color-violet:#5F30E2;
$color-warning:#DD9911;
$color-danger:#EC0141;
$table-bg:#F6F8FA;
$table-color:#72767A;

$color-bg: #f3f4f7;
$color-bg-login: #f5f5f5;
$color-text: #0F0D29;
$color-text2: #101422;
$color-border: #AEB8D9;

$color-light-orange :#E0600B;
$color-dark-orange :#c4560d;

$color-yellow: #FFC041;

$dark-1: #00000014;
$shadow: #DBD8EA80;

$payslip1: #FC6D00;
$payslip2: #46D5A3;
$payslip3: #D35DFF;
$payslip4: #2BB4FF;
$payslip5: #FD5E86;
$payslip6: #FF67CE;
$payslip7: #BEB807;
$payslip8: #BE0738;

$status2: #EC0041;
$status3: #04ACB4;
$status4: #F7EC09;
$status5: #FFA500;
$status6: #A0A5B9;
$status7: #232322;
$status8: #E05206;

$blue1: #5eafe7;
$shadow1:#00000029;
$blue-2:#E5F0F8;

$shift-color1:#00C2C9;
$shift-color2:#52B4B3;
$shift-color3:#6DC368;
$shift-color4:#DB7793;
$shift-color5:#2A85C3;
$shift-color6:#F3C245;
$shift-color7:#FFA741;
$shift-color8:#FF7B00;
$shift-color9:#EC0141;
$shift-color10:#773B93;
