$desktop-md: "screen and (min-width: 769px)";
$desktop-max-md: "screen and (max-width: 768px)";
$desktop-max-md-800: "screen and (max-width:834px)";
$tab-max: "screen and (max-width: 769px)";

$desktop-start: "screen and (min-width: 1200px)";
$desktop-big: "screen and (min-width: 1400px)";
$desktop-xxl: "screen and (min-width: 1600px)";

$desktop-lg: "screen and (min-width: 1025px)";
$desktop-max-lg: "screen and (max-width: 1024px)";
$desktop-max-lg-big: "screen and (max-width: 1201px)";
$desktop-max-mob: "screen and (max-width: 480px)";
$desktop-max-lg-small: "screen and (max-width: 991.5px)";
// $desktop-max-lg-big: "screen and (max-width: 1201px)";
$desktop-max-lg-bg: "screen and (max-width: 1416px)";
$desktop-max-lg-bgs: "screen and (max-width: 1297px)";
$desktop-max-lg-680: "screen and (max-width: 680px)";
